<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <div>
      <a
        href="/<%=restaurant.name%>/<%=restaurant.id%>/edit"
        class="btn btn-secondary"
        >Edit</a
      >
      <a href="#">Delete</a>
    </div>

    <div class="container text-center m-5">
      <h1><%=restaurant.name%></h1>
      <div class="col-6 my-3 mx-auto">
        <img src="<%=restaurant.img%>" alt="<%restaurant.name%>" />
      </div>
      <h5><%=restaurant.description%></h5>
      <div class="d-flex m-5 justify-content-between align-items-center">
        <h6><%=restaurant.address%></h6>
        <a href="<%=restaurant.website%>" class="btn btn-light">Book Online</a>
      </div>
    </div>
  </body>
</html>
