<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs')%>
    <title><%= restaurant.name %></title>
  </head>
  <body>
    <%- include('./partials/nav.ejs')%>
    <section class="content-banner">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12">
            <div class="banner-con text-center">
              <h1 class="secondary-title"><%=restaurant.name%></h1>
              <p class="secondary-des"><%=restaurant.description%></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="container text-center my-5 mx-auto">
      <div class="row">
        <div class="offset-6 col-3 float-right"><%= restaurant.type%></div>
      </div>
      <div class="row">
        <div class="col-6 my-3 mx-auto">
          <img src="<%=restaurant.img%>" alt="<%restaurant.name%>" />
        </div>
      </div>
      <div class="row">
        <div
          class="col-6 mx-auto d-flex justify-content-between align-items-center"
        >
          <h5><%=restaurant.address%></h5>
          <a href="<%=restaurant.website%>" class="btn btn-light"
            >Book Online</a
          >
        </div>
      </div>
    </div>
    <div class="container">
      <div class="action-group">
        <a
          href="/restaurantfinder/<%=restaurant.city%>/<%=restaurant.id%>/edit"
          class="btn btn-secondary"
          >Edit</a
        >
        <form
          action="/restaurantfinder/<%=restaurant.city%>/<%=restaurant.id%>?_method=DELETE"
          method="POST"
        >
          <button type="submit" value="DELETE" class="btn btn-danger">
            Delete
          </button>
        </form>
      </div>
    </div>
    <%- include('./partials/scripts.ejs') %> <%-
    include('./partials/footer.ejs') %>
  </body>
</html>
