<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%>
    <section class="content-banner">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12">
            <div class="banner-con text-center">
              <h1 class="secondary-title"><%=restaurant.name%></h1>
              <p class="secondary-des"><%=restaurant.description%></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="container text-center my-5 mx-auto"></div>
      <div class="row">
        <div class="col-6 my-3 mx-auto">
          <img src="<%=restaurant.img%>" alt="<%restaurant.name%>" />
        </div>
      </div>
      <div class="row">
        <div class="col-9">
          <h5><%=restaurant.address%></h5>
        </div>
        <div class="col-3">
          <a href="<%=restaurant.website%>" class="btn btn-light"
            >Book Online</a
          >
        </div>
      </div>
    </div>
    <div class="action-group">
      <a
        href="/restaurantfinder/<%=restaurant.city%>/<%=restaurant.id%>/edit"
        class="btn btn-secondary"
        >Edit</a
      >
      <form
        action="/restaurantfinder/<%=restaurant.city%>/<%=restaurant.id%>?_method=DELETE"
        method="POST"
      >
        <button type="submit" value="DELETE" class="btn btn-danger">
          Delete
        </button>
      </form>
    </div>
    <%- include('./partials/scripts.ejs') %>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
